{% extends "layout.html" %}

{% block title %}
    About me
{% endblock %}

{% block body %}
<!--Begin Post-->
<article class="post">
    <div class="post_action">
        <a href="/">Go Back</a>
        <a href="#">
            Share
            <img class="post_action_icon" src="static/images/share.svg" alt="Share">
        </a>
    </div>
    <div class="post_header post_header--open">
        <h1 class="post_title post_title--mb0">
            So, who I am?
        </h1>

    </div>
    <div class="post_content">
        <div class="post_text">
            <h2 class="aboutme_title post_title post_title--mb0">Info</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse et, ducimus doloribus culpa ea sunt quos
                minima ratione tempora assumenda error! Amet quos accusantium velit eligendi ducimus tempora inventore
                deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores porro vitae quidem ipsum
                praesentium omnis in beatae, animi a facilis iusto nulla odio, sit esse reiciendis optio veniam quos id.
            </p>
            <h3>Title 3</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Et hic impedit sunt, illum vitae iusto
                dignissimos
                odit laboriosam quos repudiandae natus voluptatum perferendis, voluptatem, sint ipsam. Mollitia neque
                dignissimos ex!

            </p>
            <h4 class="post_title post_title--mb0">Work Experience</h4>
            <ul>
                <li>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo recusandae, dolores quam id odit iusto nam
                    quis accusantium voluptatum! Unde eaque sequi quos corporis laboriosam, fugiat sint! Nobis, quis
                    corrupti?</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo recusandae, dolores quam id odit iusto nam
                        quis accusantium voluptatum! Unde eaque sequi quos corporis laboriosam, fugiat sint! Nobis, quis
                        corrupti?
                    </p>
                </li>
            </ul>
            <h4 class="post_title post_title--mb0">Education and Training</h4>
            <ul>
                <li>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo recusandae, dolores quam id odit iusto nam
                    quis accusantium voluptatum! Unde eaque sequi quos corporis laboriosam, fugiat sint! Nobis, quis
                    corrupti?</p>
                </li>
            </ul>
            <h4 class="post_title post_title--mb0">Language Skills</h4>
            <ul>
                <li><p>Mother tongue: Romanian</p></li>
                <li>
                    <p>English</p>
                </li>
                <li>
                    <p>Russian</p>
                </li>
                <li>
                    <p>German</p>
                </li>
            </ul>
            <h4 class="post_title post_title--mb0">Courses</h4>
            <p>
                <img src="static/images/programming.jpg" alt="Programming">
            </p>

        </div>
        <!--End Post Text-->

    </div>
    <!--End Post Content -->

</article>
<!-- End Post -->
{% endblock %}