{% extends "layout.html" %}

{% block title %}
    Personal Blog
{% endblock %}


{% block body %}
    <!--Begin Post-->
<article class="post">
    <div class="post_action">
        <a href="/">Go Back</a>
        <a href="#" data-modal="share_modal">
            Share
            <img class="post_action_icon" src="static/images/share.svg" alt="Share">
        </a>
    </div>
    <div class="post_header post_header--open">
        <h2 class="post_title post_title--open">
            How to start to code?
        </h2>
        <ul class="post_data">
            <li class="post_data_item">
                <time datetime="2023-03-29">29.03.2023</time>
            </li>
            <li class="post_data_item">
                <a href="#">Coding</a>
            </li>
        </ul>
    </div>
    <div class="post_content">
        <div class="post_text">
            <h2 class="post_title post_title--open">What is Coding?</h2>
            <p>
                Coding is the process of using programming languages to give instructions to a computer. These instructions power the websites, software, and applications people use every day.
            </p>
            <h3>Why learn to Code?</h3>
            <p>
                Before diving into your first lesson, think about why you want to code in the first place. This will help you determine which programming language you decide to learn first, what sorts of projects you want to complete, and ultimately what you want to make of your skills.
                Here are some well-known benefits:
            </p>
            <h4>Coding helps build professional skills.</h4>
            <p>Let's get the obvious out of the way. Knowledge of computer programming is a valuable employment asset.</p>
            <p>As technology continues to weave into our daily lives, coding skills will become more desired among candidates, several of the most in-demand skills fall under computing.</p>
            <p>
                If you're looking to make a career pivot into tech or to switch to a more technical role within your field, knowing at least one relevant programming language is a must.
            </p>
            <p>
                This doesn't just apply to developers, though. Web designers should know HTML, CSS, and JavaScript. Project managers should know the inner workings of the tools they help craft.
            </p>
            <p>
                Even if you run a simple WordPress website, familiarizing yourself with front-end languages and some PHP goes a long way.
            </p>
            <p>
                Even if you're not pursuing a strictly technical role, coding experience is an asset. It shows technical know-how, the ability to grasp abstract concepts, and that you can solve complex problems.
            </p>
            <p>
                Finally, coding knowledge enables you to take up freelance work or a full-time career.
            </p>
            <h4>Coding can help you earn more.</h4>
            <p>The average entry-level salary in the U.S. is $40,153 in 2022. But the average starting salary for a programmer is more than twice as much, at $85,293.</p>
            <p>We mentioned earlier that there are differences between coders and programmers. As you continue to learn about coding, you may start to specialize. Many of the highest coding salaries come from the ability to offer your skills in a specific type of coding.</p>
            <p>For example, as you continue to code, you may decide to become a developer. Besides writing code, developers also debug software and work with source code. Developers usually specialize in a specific programming language.</p>
            <p>Developers often earn higher salaries than programmers and have high projected job growth. According to the U.S. Bureau of Labor Statistics, jobs for developers should grow by 22% by 2030.</p>

            <p>
                <img src="static/images/programming.jpg" alt="Programming">
            </p>

            <h2 class="post_title post_title--open">How to Start Coding?</h2>
            <p>Thanks to the internet, there's never been a better time to learn to code. But the sheer volume of options can stall some new coders before they even begin.
                In this section, we'll cover how to learn coding for beginners, with some recommended resources for each step.</p>
            <p>
                <img src="https://blog.hubspot.com/hs-fs/hubfs/how-to-start-coding.jpg?width=975&name=how-to-start-coding.jpg" alt="Programming">
            </p>
            <h3>1. Figure out why you want to learn to code.</h3>
            <p>It's tempting to jump right in when you start coding. But if you don't have an end goal you may become frustrated and stop learning before you get to the fun.</p>
            <p>So, before you start studying, think about why you want to know how to code. Think about the projects you want to complete, why this skill excites you, and what resources you have available.</p>
            <p>For example, say you want to become a developer to earn more income for your family. Do you know where you want to work and what kind of projects they need developers for? Are you ready to put in the time to learn to code, learn the right programming languages, and build projects that show you have what it takes?</p>
            <p>Setting a broad goal like that can be really frustrating. Instead, start with smaller, more specific goals. For example, say you want to build a mobile app for your friend who is training for a half-marathon one year from now.</p>
            <p>This goal will:</p>
            <ol>
                <li>
                    Help you build the skills you need
                </li>
                <li>
                    Give you a sense of which programming language to start with
                </li>
                <li>
                    Sets a deadline so you can manage your time while learning
                </li>
            </ol>
            <h3>2. Choose which coding language you want to learn first.</h3>
            <p>If you're trying to figure out which programming language to start with, think about your long-term goals. Are you coding for fun or to advance at work? Do you have a flexible timeline or do you need to finish a project in a hurry?</p>
            <p>As a beginner, you may want to start with a language that doesn't use data structures or algorithms. If that's the case, HTML or CSS are great places to start. But languages like Java and Python are also great for beginners, and they also have a wide range of applications.</p>
            <p>It can sometimes take months to learn a programming language, so take some time to make this decision to make sure that your time is well spent.</p>
            <h3>3. Take online courses.</h3>
            <p>Learning to code no longer requires a classroom setting. Today, there are thousands of online programming courses that cover everything from basic HTML to data structures to complex algorithms.</p>
            <p>Your first course should introduce the basics of a language and contain interactive modules and assignments to guide your learning.</p>
            <p>Courses create a structure for learning, which is essential as concepts in computer science build on each other. An organized course keeps everything digestible and ensures you’re learning things in the correct order.</p>

            <p>
                <img src="https://blog.hubspot.com/hs-fs/hubfs/freecodecamp.jpg?width=975&name=freecodecamp.jpg" alt="Programming">
            </p>

            <!--

            <ul>
                <li>item</li>
                <li>item</li>
                <li>item</li>
            </ul>

            <ol>
                <li>item</li>
                <li>item</li>
                <li>item</li>
            </ol>

            <table>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </table>

        -->
        <a href="https://blog.hubspot.com/website/how-to-start-coding" target="_blank">Source of information</a>
        </div>
        <!--End Post Text-->
        <div class="related">
            <h3 class="post_subtitle">Another related topics</h3>
            <ul class="related_list">
                <li class="related_list_item">
                    <h4 class="related_list_title">
                        <a href="/post">How to start to code?</a>
                    </h4>
                    <time class="related_list_date" datetime="2023-03-31">31.03.2023</time>
                </li>
                <li class="related_list_item">
                    <h4 class="related_list_title">
                        <a href="/learn">Tips to Learn Computer Programming Faster!</a>
                    </h4>
                    <time class="related_list_date" datetime="2023-03-31">31.03.2023</time>
                </li>
                <li class="related_list_item">
                    <h4 class="related_list_title">
                        <a href="/bootcamp">About Bootcamps</a>
                    </h4>
                    <time class="related_list_date" datetime="2023-03-30">30.03.2023</time>
                </li>
                <li class="related_list_item">
                    <h4 class="related_list_title">
                        <a href="/framework">Web Frameworks. The Best Frameworks to Use</a>
                    </h4>
                    <time class="related_list_date" datetime="2023-03-30">30.03.2023</time>
                </li>
            </ul>
        </div> <!-- End Related-->

        <!-- Comments -->
        <h3 class="comments_title">Add a Comments</h3>

        <form class="form" action="/" method="post">
            <div class="form_group">
                <textarea class="form_control form_control--textarea" name="comment-text"
                    placeholder="Your Comment"></textarea>
                <span class="form_line"></span>
            </div>
            <button class="btn btn--blue btn--rounded btn--small" type="submit">Send</button>
        </form>


        <!--Show Comments -->
        <ul class="comments">
            <li class="comments_item">
                <div class="comments_header">
                    <img class="comments_avatar" src="static/images/utiutiu.jpg" alt="Maxim Primacov">
                    <div class="comments_author">
                        <div class="comments_name">Maxim Primacov</div>
                        <time class="comments_pubdate" datetime="2023-04-01">One hour ago</time>
                    </div>
                </div>
                <div class="comments_text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente earum itaque excepturi atque
                    commodi quasi at hic quaerat voluptas amet. Voluptate qui dolore, dolorem rem praesentium eaque
                    mollitia architecto esse.
                </div>
                <button class="comments_reply" type="button">Answer</button>

                <!--Answer Comment-->
                <ul class="comments">
                    <li class="comments_item">
                        <div class="comments_header">
                            <img class="comments_avatar" src="static/images/profile.jpg" alt="Daniela Primacov">
                            <div class="comments_author">
                                <div class="comments_name">Daniela Primacov</div>
                                <time class="comments_pubdate" datetime="2023-04-01">5 min ago</time>
                            </div>
                        </div>
                        <div class="comments_text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente earum itaque excepturi
                            atque
                            commodi quasi at hic quaerat voluptas amet. Voluptate qui dolore, dolorem rem praesentium
                            eaque
                            mollitia architecto esse.
                        </div>
                        <button class="comments_reply" type="button">Answer</button>
                    </li>
                </ul>
            </li>
        </ul>
        <!--End Show Comments -->
    </div>
    <!-- End Comments-->

    </div>
    <!--End Post Content -->


</article>
<!-- End Post -->
{% endblock %}